<form (submit)="login()" #form="ngForm">
  <header>ログインしてください</header>

  <div class="container">
    <fieldset>
      <legend>ユーザー名</legend>
      <input
        required
        type="text"
        name="username"
        autocomplete="on"
        list="username"
        [(ngModel)]="username"
      />

      <datalist id="username">
        <option value="ringtail003">ログインできるやつ</option>
        <option value="Dr.Blowhole">ログインに失敗するやつ</option>
      </datalist>
    </fieldset>

    <fieldset>
      <legend>パスワード</legend>
      <input
        required
        type="password"
        name="password"
        autocomplete="current-password"
        placeholder="適当なパスワードを入力"
        [(ngModel)]="password"
      />
    </fieldset>

    <div role="alert" *ngIf="loginFailed">
      <svg
        fill="#d46967"
        stroke="#ffffff"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
        ></path>
      </svg>
      ユーザー名またはパスワードが違います
    </div>
  </div>

  <footer>
    <button type="submit" [disabled]="form.invalid">ログイン</button>
  </footer>
</form>
